<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title_block %}
    {% endblock %}
</head>
<body>
{% block body_block %}
{% endblock %}
<ul>
    {% if user.is_authenticated %}
        <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
         <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Sign In</a></li>
        <li><a href="{% url 'register' %}">Sign Up</a></li>
    {% endif %}
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'index' %}">Index</a></li>
</ul>
</body>
</html>