{% extends 'rango/base.html' %}

{% block body_block %}
    <h1>Rango says...hello world!</h1>
    {% if user.is_authenticated %}
        howdy {{ user.username }}!
    {% else %}
        hey there partner!
    {% endif %}
    {% if categories %}
        <ul>
            {% for foo in categories %}
                <li><a href="/rango/category/{{ foo.slug }}">{{ foo.name }}</a></li>
            {% endfor %}
            <li><a href="/rango/category/Non-existent">Non-existent</a></li>
        </ul>
    {% else %}
        <strong>There are no categories present!</strong>
    {% endif %}
{% endblock %}
