<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
<h1>Rango says...hello world!</h1>
{% if categories %}
    <ul>
        {% for foo in categories %}
            <li><a href="/rango/category/{{ foo.slug }}">{{ foo.name }}</a></li>
        {% endfor %}
        <li><a href="/rango/category/Non-existent">Non-existent</a></li>
    </ul>
{% else %}
    <strong>There are no categories present!</strong>
{% endif %}
<a href="/rango/add_category">Add a new category</a><br/>
{#<a href="/rango/about/">About</a><br/>#}
{#<img src="{% static "images/rango.png" %}" ,alt="Picture of Rango"/>#}
</body>
</html>